html, body
{
	height: 100%;
}
body
{
	overflow-x: hidden;
}
.main_container
{
	height: 100%;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}
#body
{
	height: 90%;
	padding: 0;
	margin: 0;
	position: relative;
	display: block;
}
#background-img
{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -10;
}
.row
{
	padding: 0px;
}
.column
{
	padding: 0px;
}
#navbar
{
	height: 10%;
}
.navbar-brand
{
	width: 30%;
	margin-left: 15px;
}
#not_mobile
{
	width: 50%;
}
ul
{
	list-style-type: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
li
{	
	width: 155.75px;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
li a
{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: rgb(255, 255, 255) !important;
	text-decoration: none;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
	font-style: normal;
	font-weight: 600;
	font-size: 103%;
	text-align: center;
	line-height: 300%;
}
li a:hover
{
	color: rgb(255, 255, 255);
	border-bottom: 2px solid #FFFFFF;
	cursor: pointer;
}
#search
{
	position: relative;
	top: 21%;
	height: 100px;
	width: 830px;
	margin: auto;
}
#search_form
{
	height: 100%;
	width: 100%;
	margin: auto;
	position: relative;
}
#search_input
{
	display: block;
	width: 95%;
	height: 70%;
	padding: 10px 14px 10px 14px;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
	color: black;
	font-style: normal;
	font-weight: bold;
	font-size: 100%;
	line-height: normal;
	box-sizing: border-box;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: white;
	border-style: solid;	
}
input:focus
{
	outline: none;
}
#search_submit
{	
	height: 49%;
	width: 25%;
	cursor: pointer;
	background-color: rgb(235,100,130);
	color: white;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
	position: absolute;
	z-index: 2;
	top: 10%;
	left: 69%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-color: pink;
}
#h1 
{
	color: rgb(255, 255, 255);
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
	width: 830px;
	height: 200px;
	font-weight: bolder;
	font-size: 250%;
	text-shadow: rgb(22,23,31) 1px 1px 40px;
	text-align: left;
	margin: auto;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
	top: 20%;
	padding-top: 4%;
}

/* sign_up and sign_in form css */
#sign_up_form
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 550px;
	height: 95%;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family:'Muli', 'Arial', 'Verdana', 'sans-serif';
}
#sign_in_form
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 550px;
	height: 95%;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
}
#verification_div
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 550px;
	height: 95%;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';	
}
#verification_p, #verification_h1
{
	margin: auto;
	text-align: center;
	padding-top: 5%;
}
#forgotten_form
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 550px;
	height: 95%;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
}
.toggle-password
{
	position: relative;
	margin-left: -30px; 
	cursor: pointer;
}
#forgotten_email
{
	display: block;
	margin: auto;
	width: 50%;
	height: 10%;
}
#reset_form
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 550px;
	height: 95%;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
}
#reset_submit
{
	margin-top: 5%;
}
legend
{
	display: block;
	text-align: center;
	color: black;	
	font-weight: bolder;
	width: 100%;
	font-size: 150%;
	padding-top: 3%;
	margin-bottom: 3%;
}
fieldset
{
	height: 100%;
	width: 100%;
	margin: auto;
}
.sign_input
{
	background-color: #F8F7F7;
	border: 2px grey !important;
	border-radius: 4px 4px 4px 4px;
	padding-left: 3%;
}
#fname
{
	display: inline-block;
	width: 30%;
	height: 10%;
	margin-left: 20%;
	margin-right: 2%;
	margin-bottom: 3%;
}
#lname
{
	display: inline-block;
	width: 30%;
	height: 10%;
	margin-right: 15%;
	margin-bottom: 3%;
}
#sign_up_email
{
	display: block;
	width: 62%;
	height: 10%;
	margin-bottom: 3%;
	margin: auto;
}
#sign_up_pass
{
	display: inline-block;
	width: 62%;
	height: 40%;
	margin: auto;
}
#reset_password
{
	display: inline-block;
	width: 62%;
	height: 30%;
	margin: auto;
}
#sign_up_pass_div
{
	text-align: center;
	height: 20%;
}
#sign_in_pass_div
{
	text-align: center;
	height: 10%;
}
#pass_control
{
	display: inline-block;
	width: 62%;
	height: 40%;
	margin: auto;
}
#reset_confirm
{
	display: inline-block;
	width: 62%;
	height: 30%;
	margin: auto;
}
#pass_control_p
{
	margin: auto;
	text-align: center;
}
#sign_in_email
{
	display: block;
	width: 62%;
	height: 10%;
	margin: auto;
}
#sign_in_pass
{
	display: inline-block;
	width: 62%;
	height: 100%;
	margin: auto;
}
#reset_pass_div
{
	height: 40%;
	text-align: center;
}
#radio_p
{
	display: block;
	width: 62%;
	margin: auto;
	margin-top: 3%;
}
#teacher_radio
{
	display: inline-block;
	width: 30%;
	height: 5%;
	margin-left: 20%;
}
#student_radio
{
	display: inline-block;
	width: 30%;
	height: 5%;	
}
label
{
	margin-right: 5%;
}
.sign_submit
{
	display: block;
	width: 30%;
	height: 10%;
	color: white;
	background-color: rgb(41, 125, 221);
	margin: auto;
	margin-top: 5%;
}
.sign_p
{
	display: block;
	width: 100%;
	height: 10%;
	margin: auto;
	margin-top: 3%;
	text-align: center;
}
.change
{
	color: rgb(235,100,130)  !important;
	text-decoration: none;
	padding-left: 7px;
}
.change:hover
{
	cursor: pointer;
}
#sign_in_p
{
	margin-top: 0;
}

#forgot
{
	height: 5%;
	margin-bottom: 2%;
}
#forgot_pass
{
	display: block;
	color: blue !important;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: auto;
}
#forgot_pass:hover
{
	cursor: pointer;
}
.close_icon
{
	position: absolute;
	width: 5%;
	left: 95%;
	z-index: 20;
}
.hidden
{
	display: none;
}

/* Message explaining the situation after sign up or sign in*/
.explain_div
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 550px;
	height: 550px;
	margin: auto;
	background-color: white;
	z-index: 10;
	border-radius: 4px 4px 4px 4px;
	font-family:'Muli', 'Arial', 'Verdana', 'sans-serif';
}
#explain_legend
{
	display: block;
	text-align: center;
	color: black;	
	width: 100%;
	height: 20%;
	font-size: 250%;
	padding-top: 5%;
	font-weight: bold;
	margin-bottom: 0;
}
#explain_h1
{
	display: block;
	width: 90%;
	height: 55%;
	margin: auto;
	text-align: center;
	padding-top: 5%;
}
#error_img
{
	display: block;
	width: 50%;
	height: 20%;
	margin: auto;
	z-index: 30;
}

/* Noscript css */
.noscript_container
{
	position: absolute;
	height: 100%;
	z-index: 50;
	padding: 0px;
	margin: 0px;
}
#warning_body
{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 30;
	padding: 0px;
	margin: 0px;
}
#noscript_img_container
{
	height: 90%;
	width: 100%;;
	position: relative;
	top: 10%;
	z-index: 30;
	padding: 0px;
	margin: 0px;
}
#warning_img
{
	display: block;
	width: 20%;
	height: 20%;
	margin: auto;
	z-index: 30;
}
#noscript_h1
{
	width: 100%;
	height: 70%;
	color: black;
	background-color: white;
	text-align: center;
	z-index: 30;
}

/* Placeholder style */

::placeholder
{
	font-family: 'Muli', 'Arial', 'Verdana', 'sans-serif';
	color: #313131;
	font-style: normal;
	font-weight: bold;
	font-size: 100%;
	line-height: normal;
}
input:focus::-webkit-input-placeholder 
{
    color: grey;
}

/* Firefox < 19 */
input:focus:-moz-placeholder 
{
    color: grey;
}
/* Firefox > 19 */
input:focus::-moz-placeholder 
{
    color:  grey;
}
/* Internet Explorer 10 */
input:focus:-ms-input-placeholder 
{
    color:  grey;
}



/* Breakpoint */
/* Medium devices (Tablets and small laptops, less than 1000px) */
@media only screen and (max-width: 999.98px) 
{	
	#verification_div
	{
		width: 100%;
	}
	#h1
	{
		width: 750px;
	}
	#search
	{
		width: 750px;
	}
	ul
	{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	li
	{
		width: initial;
		height: initial;
		width: 100%;
		margin-bottom: 20%;
		border: 1px solid wheat;
	}
	li a
	{
		text-decoration: none !important;
	}
	#sign_up_form, #sign_in_form, #forgotten_form,#reset_form
	{
		height: 111%;
		width: 100%;
		top: -11%;
		position: absolute;
		z-index: 10;
	}
	.close_icon
	{
		left: 92%;
		width: 8%;
	}
	.sign_submit
	{
		width: 70%;
	}
	.navbar-brand
	{
		width: 50%;
	}
}
/* The sidebar menu */
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
  }
  li a
  {
	  line-height: normal;
  }
  #logo
	{
		width: initial;
	}
	.navbar-brand
  {
	  overflow: hidden;
  }


/* Breakpoint */
/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) 
{	
	#h1 
	{
		width: 95%;
		font-size: 200%;
		height: 25%;
		padding-bottom: 2%;
		margin-bottom: 3%;
	}
	#search
	{
		width: 95%;
		height: 20%;
	}
	#search_input
	{
		display: block;
		height: 50%;
		width: 95%;
		margin: 0;
	}
	#search_submit
	{
		position: initial;
		width: 95%;
		height: 50%;
	}
	.explain_div
	{
		width: 100%;
		height: 70%;
	}
	#explain_legend
	{
		font-size: 200%;
		padding-bottom: 10%;
	}
	#error_img
	{
		padding-top: 10%;
		height: 30%;
		
	}
	#explain_h1
	{
		font-size: 200%;
		width: 100%;
		padding-top: 5%;
	}
}

/* Breakpoint */
/* XS devices (landscape phones, less than 400px) */
@media only screen and (max-width: 400.98px) , (max-height: 767.98px)
{	
	#h1
	{
		font-size: 160%;
		padding-bottom: 5%;
	}
	.explain_div
	{
		height: 70%;
	}
	#explain_legend
	{
		height: 15%;
		font-size: 150%;
		padding-bottom: 0;
	}
	#error_img
	{
		padding-top: 5%;
	}
	#explain_h1
	{
		font-size: 150%;
		width: 100%;
	}
	.navbar-brand
	{
		width: 45%;
	}
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}
.alert-dismissable .close, .alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
a.close {
	text-decoration: none !important;
	font-size: 18px !important;
	line-height: 1.2;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}