RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://dersara.com.tr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dersara.com.tr$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dersara.com.tr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dersara.com.tr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dersara.com.tr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dersara.com.tr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dersara.com.tr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dersara.com.tr$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

